html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal
}

ul {
    list-style: none
}

button,
input,
select {
    margin: 0
}

html {
    box-sizing: border-box
}

*,
*::before,
*::after {
    box-sizing: inherit
}

img,
video {
    height: auto;
    max-width: 100%
}

iframe {
    border: 0
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

td,
th {
    padding: 0
}

body {
    margin: 0px;
    padding: 0px;
    background-color: rgb(242, 242, 242);
}

.totaltitle {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../img/banner.jpg");
    background-size: cover;
    height: 500px;
    background-position-y: 100%;
    color: white;
}

.title,
.stitle {
    display: flex;
    justify-content: center;
}

.title {
    font-size: 3em;
}

.stitle {
    font-size: 1em;
}

.hrtitle {
    margin: 30px 0px;
    width: 100%;
}

main {
    width: 60%;
    margin: auto;
}

.magna {
    display: flex;
    justify-content: center;
    margin: 70px 0px;
    background-color: white;
    width: 100%;
}

.magna_centrage {
    display: flex;
    justify-content: center;
}

.magna_centrage h1 {
    margin: 50px 0px;
    font-size: 1.5em;
}

.magna_centrage_txt {
    margin: 30px;
    width: 500px;
    text-align: center;
}

button {
    margin: 30px 0px;
    padding: 20px;
    width: 150px;
    border: 1px solid black;
    background: none;
}

.formatage_grille {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.grille1,
.grille2,
.grille3,
.grille4 {
    margin: 10px;
    display: flex;
    background-color: white;
    justify-content: center;
}

.btngrid {
    display: flex;
    justify-content: center;
}

.gridtxt {
    margin: 30px 50px;
    text-align: center;
}

.sectionfond {
    margin: 100px 0px;
    display: flex;
    justify-content: center;
}

.sectionpara {
    text-align: center;
    margin: 30px 0px;
    width: 300px;
}

.sectiontitre,
.sectionpara,
.sectionbtn {
    display: flex;
    justify-content: center;
}
.sectiontitre{
    font-size: 1.5em;
}
.fondhr{
    margin:50px auto;
    width: 25%;
}
.botfoot{
    display: flex;
    justify-content: center;
}
.botitem{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 700px;
    margin: 50px 100px;
}
.itemsocial{
    margin: 30px 10px;
}